<div class="mb-5 mx-5">
  <h3>My Coins</h3>
  <table class="table">
    <thead>
      <th>Coin</th>
      <th>Chain</th>
    </thead>
    <tbody>
      <% @records.each do |record| %>
        <tr>
         <td>
           <img src="<%= record.logo %>" class="rounded-circle" width="20" onerror="this.onerror=null;this.src='<%= asset_url("placeholder.png") %>'" />
            <%= link_to record.symbol, coin_path(record) %>
         </td>
         <td><%= record.chain %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>