<div class="text-center">
  <div class="welcome-intro">
    <h1>Keep up with all the important happenings in the web3world</h1>
    <%= button_tag "Connect MetaMask", class: "btn btn-warning metamask_login" unless current_user %>
  </div>
</div>